*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c58940;
}

#body {
    display: flex;
    justify-content: center;
}
    
#back-btn {
    background-color: #c58940; 
    color: white;
    outline: none;  
    border: none; 
    cursor: pointer;
}

#log-top {
    color: #c58940;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   

#login-div {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-det {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 2px 2px 8px #c58940;
    width: 100%;
}
 
.inputs {
    border: hidden;
    width: 100%;
    outline: none;
}

#log-btn {
    background: #c58940;
    color: whitesmoke;
    border: none;
    border-radius: 0.2rem; 
    cursor: pointer;
    transition: all 200ms linear;
    outline: none;
    box-shadow: 2px 2px 6px #c58940;
}

#log-btn:hover {
    transform: scale(1.05, 1.05);
}




@media all and (max-width: 767px) {

    body {
        padding: 1rem 0.5rem 0.5rem;
    }

    #back-btn {
        font-size: 1rem;
        margin: 1rem 0;
    }

    #body {
        margin-top: 10vh;
    }

    #login-div {
        width: 75%;
        padding: 2rem 1rem;
        gap: 1rem 0;
    }

    #log-top {
        font-size: 1.25rem;
    }

    .log-det {
        padding: 0.25rem 1rem;
        gap: 0 1rem;
    }

    .inputs {
        padding: 0.75rem 0;
        font-size: 0.75rem;
    }

    .para {
        font-size: 0.75rem;
    }

    #log-btn {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    }
}




@media all and (min-width:768px) and (max-width: 1023px) {

    body {
        padding: 2rem 1rem 1rem 1rem;
    }

    #body {
        margin-top: 5vh;
    }

    #back-btn {
        font-size: 1.5rem;
        margin: 1rem;
    }

    #login-div {
        width: 60%;
        padding: 2rem;
        gap: 2rem 0;
    }

    #log-top {
        font-size: 2rem;
    }

    .log-det {
        padding: 0.25rem 1.25rem;
        gap: 0 1.25rem;
    }

    .inputs {
        padding: 1rem 0;
        font-size: 1rem;
    }

    .para {
        font-size: 1rem;
    }

    #log-btn {
        font-size: 1rem;
        padding: 0.75rem 1rem 0.75rem 1rem;
    }
}




@media all and (min-width: 1024px) {
    body {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    #body {
        margin-top: 10vh;
    }

    #back-btn {
        font-size: 1.25rem;
        margin: 0.5rem;
    }

    #login-div {
        padding: 2rem;
        gap: 1.5rem 0;
        width: 25%;
    }

    #log-top {
        font-size: 1.5rem;
    }

    .log-det {
        padding: 0.25rem 1.25rem;
        gap: 0 1.25rem;
    }

    .inputs {
        padding: 1rem 0;
        font-size: 1rem;
    }

    .para {
        font-size: 1rem;
    }

    #log-btn {
        font-size: 1rem;
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    }
}