*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c58940;
}
    
#body {
    display: grid;
    justify-content: center;
    align-items: center;
}

#back-btn {
    background-color: #c58940; 
    color: white;
    outline: none;  
    border: none; 
    cursor: pointer;
}
   
#sig-top {
    color: #c58940;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sign-div {
    background-color: whitesmoke;
    width: fit-content;
    height: fit-content;
    border-radius: 0.5rem;
    text-align: center;
}
    
.sig-det {
    display: flex;
    width: fit-content;
    border: hidden;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 8px #c58940;
}

.logos {
    border-radius: 0.5rem 0 0 0.5rem;
}
 
.inputs {
    border: hidden;
    border-radius: 0 0.5rem 0.5rem 0;
    outline: none;
}

#click-div {
    display: flex;
}

#click-btn {
    accent-color: #c58940;
    outline: none;
    cursor: pointer;
}

#sig-btn {
    background: #c58940;
    color: whitesmoke;
    border: none;
    border-radius: 0.2rem; 
    cursor: pointer;
    transition: all 200ms linear;
    outline: none;
    box-shadow: 2px 2px 6px #c58940;
}

#sig-btn:hover {
    transform: scale(1.05, 1.05);
}




@media all and (max-width: 767px) {
 
    body {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    #back-btn {
        font-size: 1rem;
        margin: 1rem 0;
    }

    #sign-div {
        margin-top: 10vh;
        padding: 1rem;
    }

    #sig-top {
        margin: 0 0 1rem 0;
        font-size: 1.25rem;
    }

    .sig-det {
        margin: 1rem 0;
    }

    .logos {
        height: 2.5rem;
        width: 2.5rem;
    }

    .inputs {
        padding: 0.25rem;
        font-size: 0.75rem;
        width: 15rem;
    }

    #click-div {
        margin-bottom: 0.5rem;
    }

    #click-btn {
        width: 0.75rem;
        margin-right: 0.25rem;
    }

    .para {
        font-size: 0.75rem;
    }

    #sig-btn {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
        margin-bottom: 0.5rem;
    }

    .para1 {
        font-size: 0.75rem;
    } 

}




@media all and (min-width: 768px) and (max-width: 1023px) {

    body {
        padding: 2rem 1rem 1rem 1rem;
    }

    #body {
        margin-top: 5vh;
    }

    #back-btn {
        font-size: 1.5rem;
        margin: 1rem;
    }

    #sign-div {
        margin: 2rem 0;
        padding: 2rem;
    }

    #sig-top {
        margin: 0 0 1rem 0;
        font-size: 2rem;
    }

    .sig-det {
        margin: 2rem 0;
    }

    .logos {
        height: 3rem;
        width: 3rem;
    }

    .inputs {
        padding: 0.5rem;
        font-size: 1rem;
        width: 25rem;
    }

    #click-div {
        margin-bottom: 1rem;
    }

    #click-btn {
        width: 1rem;
        margin-right: 0.5rem;
    }

    .para {
        font-size: 1rem;
    }

    #sig-btn {
        font-size: 1rem;
        padding: 0.75rem 1rem 0.75rem 1rem;
        margin-bottom: 1rem;
    }

    .para1 {
        font-size: 1rem;
    } 
}




@media all and (min-width: 1024px) {

    body {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    #body {
        margin-top: 10vh;
    }

    #back-btn {
        font-size: 1.25rem;
        margin: 0.5rem;
    }

    #sign-div {
        margin: 1rem 0;
        padding: 1rem;
    }

    #sig-top {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
    }

    .sig-det {
        margin: 1.5rem 0;
    }

    .logos {
        height: 2.5rem;
        width: 2.5rem;
    }

    .inputs {
        padding: 0.5rem;
        font-size: 1rem;
        width: 20rem;
    }

    #click-div {
        margin-bottom: 0.5rem;
    }

    #click-btn {
        width: 1rem;
        margin-right: 0.5rem;
    }

    .para {
        font-size: 1rem;
    }

    #sig-btn {
        font-size: 1rem;
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
        margin-bottom: 0.5rem;
    }

    .para1 {
        font-size: 1rem;
    } 
}